body {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh; /*Makes the image take up 100% height*/
}

.LHS {
  background-image: url(images/image3.jpg);
  flex: 0.3;
  background-position: center;
  background-size: cover; /*Sizes the image properly*/
  position: relative;
}

.logobg {
  background-color: rgb(44 47 47 / 0.5);
  position: absolute;
  top: 227px;
  width: 100%;
}

.logo {
  text-align: center;
  color: white;
  font-size: 50px;
}

.credit {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: white;
}

.RHS {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e6e8e8;
  height: 100vh;
}

.description {
  background-color: yellow;
  width: 80%;
  font-size: 22px;
  font-weight: 800;
  padding-bottom: 35px; /*pushes the content upwards */
  padding-left: 40px;
}

.form-box {
  background-color: aqua;
}


