@font-face {
  font-family: 'monotonregular';
  src: url('fonts/monoton-regular-webfont.woff2') format('woff2'),
       url('fonts/monoton-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sansregular';
  src: url('fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh; /*Makes the image take up 100% height*/
}

.LHS {
  background-image: url(images/image6.jpg);
  flex: 0.3;
  background-position: center;
  background-size: cover; /*Sizes the image properly*/
  position: relative;
}

.logobg {
  background-color: rgb(50 43 37 / 0.65);
  position: absolute;
  top: 180px;
  width: 100%;
}

.logo {
  text-align: center;
  color: white;
  font-size: 70px;
  font-family: 'monotonregular',Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.credit {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 10px;
}

.credit a {
  text-decoration: none;
  color: white;
}

.RHS {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*background-color: #e6e8e8;*/
  /*background-color: #cfa87f;*/
  background-color: antiquewhite;
  height: 100vh;
}

.description {
  /*background-color: yellow;*/
  width: 80%;
  font-size: 22px;
  font-weight: 600;
  padding-left: 40px;
  margin-bottom: 20px;
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
  color: #2A140E;
}

h3 {
  font-size: 22px;
  font-weight: 600;
  color: #2A140E;
}

.form-box {
  /*background-color: white;*/
  /*background-color: #e9d2b9;*/
  background-color: #d3bbaa;
  padding-left: 40px;
  padding-top: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
  box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.2);
  font-family: 'open_sansregular',Arial, Helvetica, sans-serif;
}

.form-row {
  /*background-color: green;*/
  display: flex; /* lets input fields stack next to each other */
  margin-bottom: 20px; /* separates each form row vertically */
  gap: 55px; /* adds space horizontally between the 2 input fields */
}

.input-group {
  /*background-color: pink;*/
  display: flex;
  flex-direction: column; /* field name & input box sit side by side but we want label on top and input box below */
  gap: 5px;
  width: 300px; /* makes a long input box for entering long data */
}

.input-group #confirm_password {
  margin-bottom: 30px;
}

div label {
  font-size: 15px;
}

div input {
  font-size: 20px;
}

input {
  border: solid #E5E7EB 1.5px;
  border-radius: 5px;
}

input[type="password"]:invalid {
  border: solid red 1.5px;
}

input:focus {
  outline:  none; /*removes default system setting of black border when focus is happening*/
  border: solid blue 1.5px;
  box-shadow: 4px 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.create_acc {
  padding-left: 40px;
}

button {
  background-color: #72401C;
  border: none;
  font-size: 16px;
  color: white;
  padding-top:  15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 15px;
  font-weight: bold;
  margin-bottom: 30px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  font-family: 'open_sansregular',Arial, Helvetica, sans-serif;
  cursor: pointer; /*button was not showing as clickable*/
}

.log_in {
  display: flex;
  padding-left: 40px;
  /*background-color: aquamarine;*/
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-family: 'open_sansregular',Arial, Helvetica, sans-serif;
  color: #2A140E;
}

.log_in a {
  color: #815c32;
  font-weight: bold;
  text-decoration: none;
}




